body {
  font-family: "Poppins", sans-serif;
  /* margin: 50px 50px 0 50px; */
  background-color: #faf9f6;
  /* display: flex; */
  /* flex-direction: column; */
  min-height: 95vh;
  padding: 40px;
}
/* .main {
  flex: 2;
} */

/* *{
  margin: 5px;
  padding: 5px;
} */

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
  /* position: absolute;
  bottom: 0;
  right: 0; */
  position: fixed;
  bottom: 2px;
  right: 2px;
}


.right{
  float: right;
}

.left{
  float: left;
}

.tile-image{
  float: left;
  height: 200px;
  width: 300px;
  margin: 0px 30px 7px 0px;
}

.card{
  display: inline-block;
  width: 46%;
}

footer{
  clear: both;
}

.logo{
  width: 200px;
  height: 40px;
}

@media (max-width: 760px){
  /* body{
    padding: 20%;
  } */
  
  h1{
    font-size: 3rem;
    text-align: center;
  }
  .card{
    display: block;
    width: 100%;
    text-align: center;
  }

  .tile-image{
    float: none;
    width: 80%;
  }

  .logo{
    width: 100px;
    height: 20px;
  }

  .tile-image{
    margin: 0px;
  }

  footer{
    position: static;
  }
}